.react-draggable img {
  padding: 0.4rem;
}
.react-draggable {
  z-index: 1;
}
.react-draggable-dragged {
  z-index: 2;
}
.react-draggable-dragging {
  z-index: 99;
}

#golden-bead__box {
  align-items: stretch;
  border: 4px solid rgb(137, 95, 43);
  display: grid;
  grid-template-columns: 280px 230px 1fr 1fr;
  grid-template-rows: 240px;
  justify-items: stretch;
  margin: auto;
  max-width: 670px;
  width: 100%;
}
@media (min-width: 650px) {
  #golden-bead__box {
    border-width: 6px;
    width: 80%;
  }
}

#golden-bead__box > div {
  align-items: center;
  background: rgb(15, 80, 40);
  border: 4px solid rgb(137, 95, 43);
  display: flex;
  justify-content: space-around;
  padding: 0.4rem;
}
@media (min-width: 570px) {
  #golden-bead__box > div {
    border-width: 6px;
    padding: 1.2rem;
  }
}

#golden-bead .moved {
  position: absolute;
}

#golden-bead__counters {
  grid-area: circle;
}
#golden-bead__counters > div {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.golden-bead__one img {
  width: 40px;
}
@media (min-width: 570px) {
  .golden-bead__one img {
    width: 40px;
  }
}
.golden-bead__ten img {
  width: 27px;
}
@media (min-width: 570px) {
  .golden-bead__ten img {
    width: 27px;
  }
}
.golden-bead__hundred img {
  width: 170px;
}
@media (min-width: 570px) {
  .golden-bead__hundred img {
    width: 170px;
  }
}
.golden-bead__thousand img {
  width: 220px;
}
@media (min-width: 570px) {
  .golden-bead__thousand img {
    width: 220px;
  }
}